



.grid-container { 
    display: grid;
    padding: 5px;
    grid-gap: 7px;
  } 
  
  .grid-item {
   
    font-size: 15px;
  }

  .castItem{
    padding-top: 5px;
    grid-column: 2;
    grid-row: 3/ span 2;
   
  }

  .posterItem{
    grid-column: 1 ;
    grid-row: 1 /span 4;

  }
  
  .descriptionItem { 
    grid-column: 2;
    grid-row: 1 / span 2;
  } 
  
  .img{
    width: 180px;
    height:240px;
}

  p{
      margin: 0px;
  }

  h3{
      margin-top: 0px;
      margin-bottom: 0.5px;
      color: red;
  }