

.grid-container { 
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px;   
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 10px;
  grid-template-areas: "overlap";
  } 
  
.grid-container:hover{
  border: 1px solid #777;
}


  .poster{
   column-span: 1;
   width: 100%;
   grid-area: overlap;
  
  }
  
  .rating{
    grid-area: overlap;
    background-color: yellow;
    height: 20px;
    width: 60px;
    align-self: flex-start;
    justify-self: unset;
   
    }

  .description { 
    column-span: 2;
  font-size: 13px;
  } 
  
  .img{
    width: 180px;
    height:240px;
}



  p{
      margin: 0px;
  }

  h3{
      margin-top: 0px;
      margin-bottom: 0.5px;
      color: red;
  }

  h5{
      color: red;
      margin: 0px;
  }